.main-image {
  position: fixed;
  right: 200px;
  width: 300px;
  height: auto;
  max-width: 700px;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  transform-origin: center center;
}

.main-image:hover {
  transform: scale(1.2);
  animation: wiggle-scale 1s ease-in-out infinite;
  animation-delay: 0.3s;
}

.main-image:not(:hover) {
  animation: none;
}

@keyframes wiggle-scale {
  0%,
  100% {
    transform: scale(1.2) rotate(0deg);
  }
  25% {
    transform: scale(1.2) rotate(5deg);
  }
  50% {
    transform: scale(1.2) rotate(-5deg);
  }
  75% {
    transform: scale(1.2) rotate(5deg);
  }
}

.options {
  background-color: rgb(180, 190, 223);
  display: flex;
  gap: 50px;
  align-items: center;
  width: 70%;
  max-width: 760px;
  justify-content: center;
  align-items: center;
  padding-block: 50px;
  border-radius: 60px;
  margin: 80px auto;
}

.option {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}

.option img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.option img:hover {
  transform: scale(1.4);
}

h1 {
  color: rgb(26, 70, 157);
  padding-left: 60px;
  padding-top: 60px;
  font-size: 40px;
}

p {
  color: rgb(90, 123, 188);
  padding-left: 60px;
  font-size: 20px;
}

* {
  font-family: "Sour Gummy", sans-serif;
  cursor: url("cursor (1).cur"), auto;
}
