.main-image {
  position: fixed;
  right: 200px;
  width: 300px;
  height: auto;
  max-width: 700px;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  transform-origin: center center;
}

.main-image:hover {
  transform: scale(1.2);
  animation: wiggle-scale 1s ease-in-out infinite;
  animation-delay: 0.3s;
}

.main-image:not(:hover) {
  animation: none;
}

@keyframes wiggle-scale {
  0%,
  100% {
    transform: scale(1.2) rotate(0deg);
  }
  25% {
    transform: scale(1.2) rotate(5deg);
  }
  50% {
    transform: scale(1.2) rotate(-5deg);
  }
  75% {
    transform: scale(1.2) rotate(5deg);
  }
}

.options {
  background-color: rgb(180, 190, 223);
  display: flex;
  gap: 50px;
  align-items: center;
  width: 70%;
  max-width: 760px;
  justify-content: center;
  align-items: center;
  padding-block: 50px;
  border-radius: 60px;
  margin: 80px auto;
}

.option {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}

.option img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.option img:hover {
  transform: scale(1.4);
}

h1 {
  color: rgb(26, 70, 157);
  padding-left: 60px;
  padding-top: 60px;
  font-size: 50px;
}

p {
  color: rgb(90, 123, 188);
  padding-left: 60px;
  font-size: 20px;
}

* {
  font-family: "Sour Gummy", sans-serif;
  cursor: url("cursor (1).cur"), auto;
}

footer {
  text-align: center;
  margin: 30px;
  background-color: rgb(219, 201, 231);
  color: white;
  border-radius: 50px;
  height: 140px;
  align-content: center;
}

a {
  color: rgb(171, 109, 187);
}

h2 {
  color: rgb(131, 135, 144);
  padding-left: 60px;
}

.carousel {
  width: 300px;
  height: 300px;
  margin-left: 60px;
  position: relative;
  overflow: hidden;
  border: 7px solid #ffffff;
  border-radius: 50px;
}

.carousel img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fade 12.5s infinite;
}

.carousel img:nth-child(1) {
  animation-delay: 0s;
}
.carousel img:nth-child(2) {
  animation-delay: 2.5s;
}
.carousel img:nth-child(3) {
  animation-delay: 5s;
}
.carousel img:nth-child(4) {
  animation-delay: 7.5s;
}
.carousel img:nth-child(5) {
  animation-delay: 10s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  24% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

button {
  font-family: "Sour Gummy", sans-serif;
  margin-left: 60px;
  margin-bottom: 60px;
  margin-top: -20px;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  border: none;
}
